#gopay-wrapper {
  --maincolor: DATAFORMCOLOR;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #28a745;
  --bs-teal: #20c997;
  --bs-cyan: #17a2b8;
  --bs-gray: #757575;
  --bs-gray-dark: #4f4f4f;
  --bs-primary: #1266f1;
  --bs-secondary: #b23cfd;
  --bs-success: #00b74a;
  --bs-info: #39c0ed;
  --bs-warning: #ffa900;
  --bs-danger: #f93154;
  --bs-light: #fbfbfb;
  --bs-dark: #262626;
  --bs-white: #fff;
  --bs-black: #000;
  --bs-font-sans-serif:
    system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace:
    SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  --bs-gradient: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.15),
    hsla(0, 0%, 100%, 0)
  );

  font-family: var(--mdb-font-roboto);
  line-height: 1.6;
  color: #4f4f4f;
}

#gopay-wrapper *,
#gopay-wrapper :after,
#gopay-wrapper :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#gopay-wrapper hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

#gopay-wrapper hr:not([size]) {
  height: 1px;
}

#gopay-wrapper .h3,
#gopay-wrapper .h4,
#gopay-wrapper h3,
#gopay-wrapper h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

#gopay-wrapper .h3,
#gopay-wrapper h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  #gopay-wrapper .h3,
  #gopay-wrapper h3 {
    font-size: 1.75rem;
  }
}

#gopay-wrapper .h4,
#gopay-wrapper h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  #gopay-wrapper .h4,
  #gopay-wrapper h4 {
    font-size: 1.5rem;
  }
}

#gopay-wrapper p {
  margin-top: 0;
  margin-bottom: 1rem;
}

#gopay-wrapper b,
#gopay-wrapper strong {
  font-weight: bolder;
}

#gopay-wrapper .small,
#gopay-wrapper small {
  font-size: 0.875em;
}

#gopay-wrapper a {
  color: #1266f1;
  text-decoration: underline;
}

#gopay-wrapper a:hover {
  color: #0a47ac;
}

#gopay-wrapper a:not([href]):not([class]),
#gopay-wrapper a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

#gopay-wrapper code {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
}

#gopay-wrapper code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}

#gopay-wrapper a > code {
  color: inherit;
}

#gopay-wrapper img,
#gopay-wrapper svg {
  vertical-align: middle;
}

#gopay-wrapper label {
  display: inline-block;
}

#gopay-wrapper button {
  border-radius: 0;
}

#gopay-wrapper button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

#gopay-wrapper button,
#gopay-wrapper input,
#gopay-wrapper select {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#gopay-wrapper button,
#gopay-wrapper input {
  overflow: visible;
}

#gopay-wrapper button,
#gopay-wrapper select {
  text-transform: none;
}

#gopay-wrapper select {
  word-wrap: normal;
}

#gopay-wrapper [type="button"],
#gopay-wrapper [type="submit"],
#gopay-wrapper button {
  -webkit-appearance: button;
}

#gopay-wrapper [type="button"]:not(:disabled),
#gopay-wrapper [type="submit"]:not(:disabled),
#gopay-wrapper button:not(:disabled) {
  cursor: pointer;
}

#gopay-wrapper ::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

#gopay-wrapper ::-webkit-datetime-edit-day-field,
#gopay-wrapper ::-webkit-datetime-edit-fields-wrapper,
#gopay-wrapper ::-webkit-datetime-edit-hour-field,
#gopay-wrapper ::-webkit-datetime-edit-minute,
#gopay-wrapper ::-webkit-datetime-edit-month-field,
#gopay-wrapper ::-webkit-datetime-edit-text,
#gopay-wrapper ::-webkit-datetime-edit-year-field {
  padding: 0;
}

#gopay-wrapper ::-webkit-inner-spin-button {
  height: auto;
}

#gopay-wrapper ::-webkit-search-decoration {
  -webkit-appearance: none;
}

#gopay-wrapper ::-webkit-color-swatch-wrapper {
  padding: 0;
}

#gopay-wrapper ::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

#gopay-wrapper [hidden] {
  display: none !important;
}

#gopay-wrapper .img-thumbnail {
  max-width: 100%;
  height: auto;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 0.35rem;
}

#gopay-wrapper .form-label {
  color: rgba(0, 0, 0, 0.6);
}

#gopay-wrapper .form-control {
  display: block;
  width: 100%;
  min-height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #616161;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem !important;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media (prefers-reduced-motion: reduce) {
  #gopay-wrapper .form-control {
    -webkit-transition: none;
    transition: none;
  }
}

#gopay-wrapper .form-control:focus {
  color: #616161;
  background-color: #fff;
  border-color: #1266f1;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(18, 102, 241, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(18, 102, 241, 0.25);
}

#gopay-wrapper .form-control::-webkit-input-placeholder,
#gopay-wrapper .form-control::-moz-placeholder,
#gopay-wrapper .form-control:-ms-input-placeholder,
#gopay-wrapper .form-control::-ms-input-placeholder,
#gopay-wrapper .form-control::placeholder {
  color: #757575;
  opacity: 1;
}

#gopay-wrapper .form-control:disabled {
  background-color: #eee;
  opacity: 1;
}

#gopay-wrapper .form-control-sm {
  min-height: calc(1.6em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.775em;
  border-radius: 0.2rem;
}

#gopay-wrapper .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

#gopay-wrapper .input-group > .form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

#gopay-wrapper .input-group > .form-control:focus {
  z-index: 3;
}

#gopay-wrapper .input-group .btn {
  position: relative;
  z-index: 2;
}

#gopay-wrapper .input-group .btn:focus {
  z-index: 3;
}

#gopay-wrapper .input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #616161;
  text-align: center;
  white-space: nowrap;
  background-color: #eee;
  border: 1px solid DATAFORMCOLOR;
  border-radius: 0.35rem;
}

#gopay-wrapper
  .input-group
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#gopay-wrapper .input-group > :not(:first-child):not(.dropdown-menu) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#gopay-wrapper .btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0.125rem solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.35rem;
  -webkit-transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  #gopay-wrapper .btn {
    -webkit-transition: none;
    transition: none;
  }
}

#gopay-wrapper .btn:hover {
  color: #4f4f4f;
}

#gopay-wrapper .btn:disabled {
  pointer-events: none;
  opacity: 0.65;
}

#gopay-wrapper .btn-secondary {
  border-color: #b23cfd;
}

#gopay-wrapper .btn-secondary:hover {
  border-color: #9e0afc;
}

#gopay-wrapper .btn-secondary:focus {
  color: #fff;
  background-color: #a316fd;
  border-color: #9e0afc;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(190, 89, 253, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(190, 89, 253, 0.5);
}

#gopay-wrapper .btn-secondary:active {
  background-color: #9e0afc;
  border-color: #9803f7;
}

#gopay-wrapper .btn-secondary:active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(190, 89, 253, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(190, 89, 253, 0.5);
}

#gopay-wrapper .btn-secondary:disabled {
  border-color: #b23cfd;
}

#gopay-wrapper .btn-dark {
  border-color: #262626;
}

#gopay-wrapper .btn-dark:hover {
  border-color: #0d0d0d;
}

#gopay-wrapper .btn-dark:focus {
  color: #fff;
  background-color: #131313;
  border-color: #0d0d0d;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(71, 71, 71, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(71, 71, 71, 0.5);
}

#gopay-wrapper .btn-dark:active {
  background-color: #0d0d0d;
  border-color: #060606;
}

#gopay-wrapper .btn-dark:active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(71, 71, 71, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(71, 71, 71, 0.5);
}

#gopay-wrapper .btn-dark:disabled {
  border-color: #262626;
}

#gopay-wrapper .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.35rem;
}

#gopay-wrapper .card > hr {
  margin-right: 0;
  margin-left: 0;
}

#gopay-wrapper .card-body {
  flex: 1 1 auto;
  padding: 1rem;
}

#gopay-wrapper .card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#gopay-wrapper .card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

#gopay-wrapper .alert {
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.35rem;
}

#gopay-wrapper .alert-warning {
  color: #855800;
  background-color: #fec;
  border-color: #ffe7b8;
}

/* Utilities */
#gopay-wrapper .d-flex {
  display: flex !important;
}

#gopay-wrapper .d-inline-flex {
  display: inline-flex !important;
}

#gopay-wrapper .border {
  border: 1px solid #e0e0e0 !important;
}

#gopay-wrapper .border-top {
  border-top: 1px solid #e0e0e0 !important;
}

#gopay-wrapper .w-100 {
  width: 100% !important;
}

#gopay-wrapper .justify-content-center {
  justify-content: center !important;
}

#gopay-wrapper .align-items-center {
  align-items: center !important;
}

#gopay-wrapper .m-1 {
  margin: 0.25rem !important;
}

#gopay-wrapper .mt-2 {
  margin-top: 0.5rem !important;
}

#gopay-wrapper .mt-5 {
  margin-top: 3rem !important;
}

#gopay-wrapper .mb-3 {
  margin-bottom: 1rem !important;
}

#gopay-wrapper .ml-2 {
  margin-left: 0.5rem !important;
}

#gopay-wrapper .p-0 {
  padding: 0 !important;
}

#gopay-wrapper .pb-0 {
  padding-bottom: 0 !important;
}

#gopay-wrapper .font-weight-bold {
  font-weight: 700 !important;
}

#gopay-wrapper .text-right {
  text-align: right !important;
}

#gopay-wrapper .text-center {
  text-align: center !important;
}

#gopay-wrapper .text-warning {
  color: #ffa900 !important;
}

#gopay-wrapper .text-white {
  color: #fff !important;
}

#gopay-wrapper .text-muted {
  color: #757575 !important;
}

#gopay-wrapper .rounded {
  border-radius: 0.35rem !important;
}

#gopay-wrapper {
  --mdb-font-roboto: "Roboto", sans-serif;
}

#gopay-wrapper a {
  text-decoration: none;
}

#gopay-wrapper button:focus {
  outline: 0;
}

#gopay-wrapper .bg-dark {
  background-color: #262626 !important;
}

#gopay-wrapper .bg-white {
  background-color: #fff !important;
}

/* Form outline */
#gopay-wrapper .form-outline {
  position: relative;
}

#gopay-wrapper .form-outline .form-control {
  min-height: auto;
  padding-top: 0.33em;
  padding-bottom: 0.33em;
  border: 0;
  background: transparent;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#gopay-wrapper .form-outline .form-label {
  position: absolute;
  top: 50%;
  left: 0.75rem;

  transform: translateY(-50%);
  transform-origin: 0 0;

  transition: all 0.2s ease-out;

  background-color: #fff;
  padding: 0.25rem;

  color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  z-index: 10;
}

#gopay-wrapper .form-outline .form-control:focus {
  box-shadow: none !important;
}

#gopay-wrapper .form-outline .form-control:focus ~ .form-label {
  transform: translateY(-1em) translateY(0.1em) scale(0.8);
  color: #1266f1;
}

#gopay-wrapper .form-outline .form-control:disabled {
  background-color: #e9ecef;
}

#gopay-wrapper .form-outline .form-control::placeholder {
  opacity: 0;
}

#gopay-wrapper .form-outline .form-control.form-control-sm {
  font-size: 0.775em;
  line-height: 1.5;
}

#gopay-wrapper .form-outline .form-control.form-control-sm ~ .form-label {
  padding-top: 0.33em;
  font-size: 0.775em;
}

#gopay-wrapper .form-outline .form-control.form-control-sm:focus ~ .form-label {
  transform: translateY(-0.83em) translateY(0.1em) scale(0.8);
}

/* Input group */
#gopay-wrapper .input-group > .form-control {
  min-height: calc(1.5em + 0.33rem + 2px);
  padding-top: 0.27rem;
  padding-bottom: 0.27rem;
  transition: all 0.2s linear;
}

#gopay-wrapper .input-group-text {
  background-color: transparent;
  padding-top: 0.27rem;
  padding-bottom: 0.27rem;
}

#gopay-wrapper .input-group.form-outline input + .input-group-text {
  border: 0;
  border-left: 1px solid #bdbdbd;
}

/* Buttons */
#gopay-wrapper .btn {
  text-transform: uppercase;
  vertical-align: bottom;
  border: 0;
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.2),
    0 2px 10px 0 rgba(0, 0, 0, 0.1);
  font-weight: 500;
  padding: 0.625rem 1.5rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
}

#gopay-wrapper .btn:active,
#gopay-wrapper .btn:active:focus,
#gopay-wrapper .btn:focus,
#gopay-wrapper .btn:hover {
  box-shadow:
    0 4px 10px 0 rgba(0, 0, 0, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.1);
}

#gopay-wrapper .btn:disabled {
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.2),
    0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
}

#gopay-wrapper .btn:focus {
  outline: 0;
}

#gopay-wrapper .btn-secondary {
  color: #fff;
  background-color: #b23cfd;
}

#gopay-wrapper .btn-secondary:focus,
#gopay-wrapper .btn-secondary:hover {
  color: #fff;
  background-color: #a316fd;
}

#gopay-wrapper .btn-secondary:active {
  color: #fff;
  background-color: #8102d1;
}

#gopay-wrapper .btn-secondary:disabled {
  color: #fff;
  background-color: #b23cfd;
}

#gopay-wrapper .btn-dark {
  color: #fff;
  background-color: #262626;
}

#gopay-wrapper .btn-dark:focus,
#gopay-wrapper .btn-dark:hover {
  color: #fff;
  background-color: #131313;
}

#gopay-wrapper .btn-dark:active {
  color: #fff;
  background-color: #000;
}

#gopay-wrapper .btn-dark:disabled {
  color: #fff;
  background-color: #262626;
}

/* Animation */
#gopay-wrapper .animation {
  animation-duration: 1s;
  animation-fill-mode: both;
  padding: auto;
}

@media (prefers-reduced-motion) {
  #gopay-wrapper .animation {
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-animation: unset !important;
    animation: unset !important;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#gopay-wrapper .card {
  border: 0;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

#gopay-wrapper .card-header {
  background-color: hsla(0, 0%, 100%, 0);
}

#gopay-wrapper .card-body[class*="bg-"] {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#gopay-wrapper .alert {
  border: 0;
}

#gopay-wrapper .animation.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@-webkit-keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@-webkit-keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@-webkit-keyframes fade-out-down {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fade-out-down {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes fade-out-left {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fade-out-left {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@-webkit-keyframes fade-out-right {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fade-out-right {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes fade-out-up {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fade-out-up {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes slide-in-down {
  0% {
    visibility: visible;
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes slide-in-down {
  0% {
    visibility: visible;
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translateZ(0);
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    visibility: visible;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes slide-in-left {
  0% {
    visibility: visible;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: translateZ(0);
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    visibility: visible;
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes slide-in-right {
  0% {
    visibility: visible;
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translateZ(0);
  }
}

@-webkit-keyframes slide-in-up {
  0% {
    visibility: visible;
    transform: translate3d(0, 100%, 0);
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes slide-in-up {
  0% {
    visibility: visible;
    transform: translate3d(0, 100%, 0);
  }

  to {
    transform: translateZ(0);
  }
}

@-webkit-keyframes slide-out-down {
  0% {
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slide-out-down {
  0% {
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

@-webkit-keyframes slide-out-right {
  0% {
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes slide-out-up {
  0% {
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slide-out-up {
  0% {
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes slide-down {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes slide-left {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slide-left {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@-webkit-keyframes slide-right {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slide-right {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes slide-up {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes zoom-out {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoom-out {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes tada {
  0% {
    transform: scaleX(1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes tada {
  0% {
    transform: scaleX(1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }

  to {
    transform: scaleX(1);
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes pulse {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scaleX(1);
  }
}

@-webkit-keyframes show-up-clock {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes show-up-clock {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

#gopay-wrapper {
  position: relative;
  min-height: 250px;
}

#gopay-loader {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.92);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(4px);
}

.gopay-spinner {
  width: 45px;
  height: 45px;
  border: 4px solid #eee;
  border-top: 4px solid DATAFORMCOLOR;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
  margin-bottom: 12px;
}

.gopay-text {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  letter-spacing: 0.2px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#gopay-wrapper .btn {
  position: relative;
  overflow: hidden;
}

#gopay-wrapper .btn .gopay-ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background: rgba(255, 255, 255, 0.35);
  animation: gopay-ripple 0.6s linear;
  pointer-events: none;
}

@keyframes gopay-ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

#gopay-wrapper .form-outline.active .form-label {
  top: 0;
  transform: translateY(-50%) scale(0.8);
  color: #1266f1;
}

#gopay-wrapper .input-group.form-outline .form-label {
  left: calc(0.75rem + 55px);
}

#gopay-wrapper .form-outline .form-control {
  min-height: auto;
  padding-top: 0.33em;
  padding-bottom: 0.33em;

  border: 1px solid var(--maincolor);
  border-radius: 3rem;

  background: #fff;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#gopay-wrapper .form-outline .form-control:focus {
  border-color: #ccc;
  box-shadow: 0 0 0 0.2rem rgba(18, 102, 241, 0.15);
}

#gopay-wrapper .input-group .form-control {
  border-left: 0;
}

.alert {
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert {
  border: 0;
}
.alert-danger {
  color: #81192c;
  background-color: #fed6dd;
  border-color: #fdc5cf;
}
.alert-success {
  color: #005f26;
  background-color: #ccf1db;
  border-color: #b8ebcc;
}
.alert-warning {
  color: #855800;
  background-color: #fec;
  border-color: #ffe7b8;
}

#gopay-div * > .bg-color {
  background-color: DATAFORMCOLOR !important;
}
